# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
site/

# Unit test
.cache
.idea/
.hypothesis/
.pytest_cache/
.ruff_cache/
.pyright/

# Environments
.env
.venv/
venv/

# VSCode settings
.vscode/settings.json
